---
import Link from "@components/Link/Link.astro";
import clsx from "clsx";

export interface Props {
  current: number;
  maxPage: number;
  nextHref: string;
  prevHref: string;
}

const { current, maxPage, nextHref, prevHref } = Astro.props;
---

<div class="card card-compact bg-base-300">
  <div class="card-body flex flex-row justify-end gap-2 items-center">
    <Link
      variant="ghost"
      class={clsx("btn btn-ghost", { "btn-disabled": current <= 0 })}
      href={current > 0 ? prevHref : undefined}
    >
      {`<`}
    </Link>
    <span>{`${current + 1} from ${maxPage}`}</span>
    <Link
      variant="ghost"
      class={clsx("btn btn-ghost", { "btn-disabled": current + 1 >= maxPage })}
      href={current + 1 < maxPage ? nextHref : undefined}
    >
      {`>`}
    </Link>
  </div>
</div>
