---
import ReviewFields from "@modules/reviews/ReviewFields.astro";
import Button from "@components/Button/Button.astro";
import { getActionProps, actions, isInputError } from "astro:actions";
import type { Review } from "astro:db";
import { CardActions, CardBody } from "@components/Card/Card";

export interface Props {
  review: typeof Review.$inferSelect;
}

const { review } = Astro.props;

const results = Astro.getActionResult(actions.updateReview);
const inputErrors = isInputError(results?.error) ? results.error.fields : null;
const otherError = !inputErrors ? results?.error?.message ?? null : null;
---

<form class="card" method="post">
  <input {...getActionProps(actions.updateReview)} />
  <input type="hidden" name="reviewId" value={review.id} />
  <CardBody>
    <ReviewFields errors={inputErrors} error={otherError} initial={review} />
    <CardActions>
      <Button type="submit">Save</Button>
    </CardActions>
  </CardBody>
</form>
