---
import { Button } from "@components/Button/Button";
import { Label, LabelText } from "@components/Label/Label";
import { Link } from "@components/Link/Link";
import { TextFieldInput, TextFieldRoot } from "@components/TextField/TextField";
import { paths } from "@utils/paths";

export type Props = {
  query: string;
};

const { query } = Astro.props;
---

<form class="w-full flex flex-row gap-2">
  <TextFieldRoot>
    <Label for="input">
      <LabelText>Search</LabelText>
    </Label>
    <TextFieldInput
      id="input"
      name="query"
      width="full"
      placeholder="Search"
      type="search"
      value={query}
    />
  </TextFieldRoot>
  <Button color="primary" type="submit">Search</Button>
  <Link variant="ghost" href={paths.index}>Random</Link>
</form>
