---
import { buttonClass } from "./Button.recipes";
import type { ComponentVariantAttributes } from "@components/utils/twCva";

type Props = ComponentVariantAttributes<"button", typeof buttonClass>;

const {
  class: className,
  isLoading,
  disabled,
  color,
  shape,
  size,
  variant,
  width,
  ...props
} = Astro.props;
---

<button
  class={buttonClass({
    className,
    disabled,
    isLoading,
    color,
    shape,
    size,
    variant,
    width,
  })}
  disabled={disabled}
  {...props}
>
  <slot />
</button>
