---
import ReviewFields from "@modules/reviews/ReviewForm/ReviewFields.astro";
import Button from "@components/Button/Button.astro";
import { getActionProps, actions, isInputError } from "astro:actions";
import type { Review } from "astro:db";

export interface Props {
  review: typeof Review.$inferSelect;
}

const { review } = Astro.props;

const results = Astro.getActionResult(actions.updateReview);
const inputErrors = isInputError(results?.error) ? results.error.fields : null;
const otherError = !inputErrors ? results?.error?.message ?? null : null;
---

<form class="card" method="post">
  <input {...getActionProps(actions.updateReview)} />
  <input type="hidden" name="reviewId" value={review.id} />
  <ReviewFields errors={inputErrors} error={otherError} initial={review} />
  <div class="card-actions">
    <Button type="submit">Save</Button>
  </div>
</form>
