---
export interface Props {
  covers?: string[] | undefined;
  header: string;
}

const { covers, header } = Astro.props;

const showCover = (covers || []).length > 0;
---

{
  showCover && (
    <div class="carousel rounded-box">
      {covers?.map((cover) => (
        <div class="carousel-item">
          <img src={cover} alt={header} />
        </div>
      ))}
    </div>
  )
}
