---
import { CardActions } from "@components/Card/Card";
import Link from "@components/Link/Link.astro";
---

<div class="card bg-base-300 w-fit">
  <div class="card-body flex flex-col gap-3">
    <h2 class="card-title">Login</h2>
    <CardActions>
      <Link
        color="primary"
        variant="default"
        size="lg"
        width="full"
        href="/api/login"
      >
        Sign In using Google!
      </Link>
    </CardActions>
  </div>
</div>
