---

---

<div class="card bg-base-300 w-fit">
  <form class="card-body">
    <h2 class="card-title">Login</h2>
    <div class="card-actions pt-3 relative">
      <a class="btn btn-primary w-full" href="/api/login">
        Sign In using Google!
      </a>
    </div>
  </form>
</div>
