---
import Link from "@components/Link/Link.astro";
---

<div class="card bg-base-300 w-fit">
  <div class="card-body">
    <h2 class="card-title">Login</h2>
    <div class="card-actions pt-3">
      <Link
        color="primary"
        variant="default"
        size="lg"
        width="full"
        href="/api/login"
      >
        Sign In using Google!
      </Link>
    </div>
  </div>
</div>
