---
import Layout from "@layouts/Layout.astro";
import { getUser } from "@server/supabase";
import { findAlbums, findRandomAlbums } from "@server/albums";
import AlbumCard from "@components/AlbumCard/AlbumCard.astro";

const user = await getUser(Astro.request);

if (!user) {
	return Astro.redirect("/login");
}

const skipParam = parseInt(Astro.url.searchParams.get("skip") || "") || null;
const queryParam = Astro.url.searchParams.get("query") || "";

const findContent = async () => {
	if (queryParam) {
		const { albums, count } = await findAlbums({
			query: queryParam,
			skip: skipParam,
			take: 20,
		});
		return { albums, count, kind: "query" };
	}
	const { albums } = await findRandomAlbums({
		take: 20,
		userId: user.id,
	});
	return { albums, kind: "random" };
};

const data = await findContent();
---

<Layout title="Welcome to Astro." user={user}>
	<main class="p-4">
		<h1>Random Albums</h1>
		<div class="flex flex-row">
			<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-2">
				{
					data.albums.map((album) => (
						<AlbumCard album={album} artist={album.artist} />
					))
				}
			</div>
		</div>
	</main>
</Layout>
