---
import { Card } from "@components/Card/Card";
import Layout from "@layouts/Layout.astro";
import AlbumSearch from "@modules/albums/AlbumSearch.astro";
import AlbumSearchResults from "@modules/albums/AlbumSearchResults/AlbumSearchResults.astro";
import RandomAlbums from "@modules/albums/RandomAlbums/RandomAlbums.astro";
import { paths } from "@utils/paths";
import { z } from "astro/zod";

const session = Astro.locals.session;

paths;
if (!session) {
  return Astro.redirect(paths.login);
}

const search = Object.fromEntries(Astro.url.searchParams.entries());
const parseResult = await z
  .object({ query: z.string().default("") })
  .safeParseAsync(search);

if (!parseResult.success) {
  return Astro.redirect(paths.error);
}

const { query } = parseResult.data;
---

<Layout title="Welcome to Astro Albums." userId={session.userId}>
  <main class="p-4 flex flex-col gap-4">
    <Card bg="base-300" size="compact">
      <div class="card-body flex gap-2">
        <AlbumSearch query={query} />
      </div>
    </Card>
    {
      query.length > 0 ? (
        <AlbumSearchResults query={query} />
      ) : (
        <RandomAlbums userId={session.userId} />
      )
    }
  </main>
</Layout>
