---
import Layout from "../layouts/Layout.astro";
import LoginForm from "@modules/auth/LoginForm.astro";
import { paths } from "@utils/paths";

const session = Astro.locals.session;

if (session) {
  return Astro.redirect(paths.index());
}
---

<Layout title="Login" userId={null}>
  <main class="flex w-full justify-center pt-4 items-center">
    <LoginForm />
  </main>
</Layout>
