---
import { changeLanguage } from "i18next";
import { getUser } from "@server/supabase";
import Layout from "../layouts/Layout.astro";
import { SendLink } from "@modules/SendLink/SendLink";
import { paths } from "@utils/paths";

changeLanguage("en");

const { user } = await getUser(Astro.request);
if (user) {
  return Astro.redirect(paths.index());
}
---

<Layout title="Login" user={null}>
  <span class="relative hidden" aria-hidden="true">
    {paths.index()}
  </span>
  <main class="flex w-full justify-center pt-4 items-center">
    <SendLink client:load />
  </main>
</Layout>
