---
import Layout from "@layouts/Layout.astro";
import { getUser } from "@server/supabase";

const user = await getUser(Astro.request);

if (!user) {
  return Astro.redirect("/login");
}
---

<Layout title="Reviews" user={user}>
  <main class="p-4">
    <h1>Welcome to Reviews</h1>
    <pre>{JSON.stringify(user, null, 2)}</pre>
  </main>
</Layout>
