---
import Layout from "@layouts/Layout.astro";
import { findReviews } from "@server/reviews";
import { getUser, updateSessionHeaders } from "@server/supabase";

const { user, session } = await getUser(Astro.request);

if (!user) {
  return Astro.redirect("/login");
}

updateSessionHeaders(Astro.response.headers, session);

const page = parseInt(Astro.url.searchParams.get("page") || "0") || 0;

const take = 10;
const skip = page * take;

const reviews = await findReviews({ skip, take, userId: user.id });
---

<Layout title="Reviews" user={user}>
  <main class="p-4">
    <h1>Welcome to Reviews</h1>
    <pre>{JSON.stringify(reviews, null, 2)}</pre>
  </main>
</Layout>
