---
import { Link } from "@components/Link/Link";
import { getLangFromUrl, useTranslations } from "@utils/i18n";
import { paths } from "@utils/paths";

export interface Props {
  userId: string | null;
}

const { userId } = Astro.props;
const isLoggedIn = userId !== null;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<nav class="navbar bg-base-300">
  <div class="flex-1">
    <h1>
      <Link href={paths.index()} class="btn btn-ghost normal-case text-xl">
        🎵 {t("Navbar.name")}
      </Link>
    </h1>
  </div>
  <div class="flex-none">
    {
      isLoggedIn ? (
        <ul class="menu menu-horizontal p-0">
          <li>
            <Link href={paths.reviews()}>{t("Navbar.reviews")}</Link>
          </li>
          <li>
            <Link href={paths.logout}>{t("Navbar.logout")}</Link>
          </li>
        </ul>
      ) : (
        <ul class="menu menu-horizontal p-0">
          <li>
            <Link href={paths.login}>{t("Navbar.login")}</Link>
          </li>
        </ul>
      )
    }
  </div>
</nav>
