---
import { getLangFromUrl, useTranslations } from "@utils/i18n";
import { paths } from "@utils/paths";

export interface Props {
  userId: string | null;
}

const { userId } = Astro.props;
const isLoggedIn = userId !== null;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<nav class="navbar bg-base-300">
  <div class="flex-1">
    <a href={paths.index()} class="btn btn-ghost normal-case text-xl"
      >🎵 {t("Navbar.name")}</a
    >
  </div>
  <div class="flex-none">
    {
      isLoggedIn ? (
        <ul class="menu menu-horizontal p-0">
          <li>
            <a href={paths.reviews()}>{t("Navbar.reviews")}</a>
          </li>
          <li>
            <a href={paths.logout}>{t("Navbar.logout")}</a>
          </li>
        </ul>
      ) : (
        <ul class="menu menu-horizontal p-0">
          <li>
            <a href={paths.login}>{t("Navbar.login")}</a>
          </li>
        </ul>
      )
    }
  </div>
</nav>
