---
import type { Album, Artist } from "@prisma/client";
import { formatAlbum } from "@utils/format";
import { frontCover } from "@server/coverArt";
import { paths } from "@utils/paths";

export interface Props {
  album: Album;
  artist: Artist;
}

const { album, artist } = Astro.props;

const details =
  album.release || (album.sid && paths.albumRelease({ sid: album.sid }));
---

<article class="card card-side bg-base-300 w-full">
  <figure class="w-56">
    <img
      class="w-56"
      src={frontCover(album.sid)}
      alt={formatAlbum({ album, artist })}
    />
  </figure>
  <div class="card-body">
    <h3 class="card-title">{formatAlbum({ album, artist })}</h3>
    <div class="card-actions">
      <a class="link" href={paths.album({ id: album.id })}> Show more</a>
      {
        details && (
          <a class="link" href={details}>
            Details
          </a>
        )
      }
    </div>
  </div>
</article>
