---
import type { Album, Artist } from "@prisma/client";
import { formatAlbum } from "@utils/format";
import { frontCover } from "@server/coverArt";

export interface Props {
  album: Album;
  artist: Artist;
}

const { album, artist } = Astro.props;
---

<article class="card card-side bg-base-300 w-full">
  <figure class="w-56">
    <img
      class="w-56"
      src={frontCover(album.sid)}
      alt={formatAlbum({ album, artist })}
    />
  </figure>
  <div class="card-body">
    <h3 class="card-title">{formatAlbum({ album, artist })}</h3>
    <div class="card-actions">
      <a class="link" href={`/album?${new URLSearchParams({ id: album.id })}`}>
        Show more
      </a>
      {
        album.release && (
          <a class="link" href={album.release}>
            Details
          </a>
        )
      }
    </div>
  </div>
</article>
