---
import { textFieldLabelText } from "./TextField.recipes";
import type { ComponentVariantAttributes } from "@components/utils/twCva";

type Props = ComponentVariantAttributes<"span", typeof textFieldLabelText>;

const props = Astro.props;
---

<span class={textFieldLabelText()} {...props}>
  <slot />
</span>
