---
import { textFieldErrorMessage } from "./TextField.recipes";
import type { ComponentVariantAttributes } from "@components/utils/twCva";

type Props = ComponentVariantAttributes<"span", typeof textFieldErrorMessage>;

const props = Astro.props;
---

<span class={textFieldErrorMessage()} {...props}>
  <slot />
</span>
