---
import { textFieldDescription } from "./TextField.recipes";
import type { ComponentVariantAttributes } from "@components/utils/twCva";

type Props = ComponentVariantAttributes<"span", typeof textFieldDescription>;

const props = Astro.props;
---

<span class={textFieldDescription()} {...props}>
  <slot />
</span>
