---
import { textFieldLabelClass } from "./TextField.recipes";
import type { ComponentVariantAttributes } from "@components/utils/twCva";

type Props = ComponentVariantAttributes<"label", typeof textFieldLabelClass>;

const props = Astro.props;
---

<label class={textFieldLabelClass()} {...props}>
  <slot />
</label>
