---
import i18next from "i18next";
import Navbar from "@components/Navbar/Navbar.astro";
import type { User } from "@supabase/supabase-js";

export interface Props {
  title: string;
  user: User | null;
}

const { title, user } = Astro.props;
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar user={user} />
    <slot />
  </body>
</html>
