---
import Navbar from "@layouts/Navbar.astro";
import { ViewTransitions } from "astro:transitions";

export type Props = {
  title: string;
  userId: string | null;
};

const { title, userId } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Navbar userId={userId} />
    <slot />
  </body>
</html>
