---
import { Link } from "@components/Link/Link";
import { paths } from "@utils/paths";

export type Props = {
  userId: string | null;
};

const { userId } = Astro.props;
const isLoggedIn = userId !== null;
---

<nav class="navbar bg-base-300">
  <div class="flex-1">
    <h1>
      <Link href={paths.index()} variant="ghost" size="lg">🎵 Albums</Link>
    </h1>
  </div>
  <div class="flex-none">
    {
      isLoggedIn ? (
        <ul class="menu menu-horizontal p-0">
          <li>
            <Link href={paths.reviews()}>Reviews</Link>
          </li>
          <li>
            <Link href={paths.logout}>Logout</Link>
          </li>
        </ul>
      ) : (
        <ul class="menu menu-horizontal p-0">
          <li>
            <Link href={paths.login}>Login</Link>
          </li>
        </ul>
      )
    }
  </div>
</nav>
