---
import ReviewFields from "@modules/reviews/ReviewFields/ReviewFields.astro";
import Button from "@components/Button/Button.astro";
import type { Album } from "astro:db";
import { getActionProps, actions, isInputError } from "astro:actions";
import { CardActions, CardBody } from "@components/Card/Card";

export interface Props {
  album: typeof Album.$inferSelect;
}

const { album } = Astro.props;

const results = Astro.getActionResult(actions.createReview);
const inputErrors = isInputError(results?.error) ? results.error.fields : null;
const otherError = !inputErrors ? results?.error?.message ?? null : null;
---

<form class="card" method="post">
  <input {...getActionProps(actions.createReview)} />
  <input type="hidden" name="albumId" value={album.id} />
  <CardBody>
    <ReviewFields errors={inputErrors} error={otherError} />
    <CardActions>
      <Button type="submit">Save</Button>
    </CardActions>
  </CardBody>
</form>
