---
import { formatAlbum } from "@utils/format";
import { findAlbum } from "@server/albums";
import AlbumCard from "@components/AlbumCard/AlbumCard.astro";
import { frontCover } from "@server/coverArt";

export interface Props {
  albumId: string;
  userId: string;
}

const { albumId, userId } = Astro.props;

const { album, albums } = await findAlbum({ id: albumId, userId });

if (!album) {
  return Astro.redirect(`/${new URLSearchParams({})}`);
}
---

<article class="card card-side">
  {
    album.release && (
      <figure class="w-64">
        <img
          class="w-64"
          src={frontCover(album.sid)}
          alt={formatAlbum({ album, artist: album.artist })}
        />
      </figure>
    )
  }
  <div class="card-body">
    <h3 class="card-title">{formatAlbum({ album, artist: album.artist })}</h3>
    <pre>    
      {JSON.stringify(album, null, 2)}
    </pre>
    <div class="flex flex-col">
      {
        albums.map((artistAlbum) => (
          <div>
            <AlbumCard album={artistAlbum} artist={album.artist} />
          </div>
        ))
      }
    </div>
  </div>
</article>
