---
import { buttonClass } from "@components/Button/Button.recipes";
import type { ComponentVariantAttributes } from "@components/utils/twCva";

type Props = ComponentVariantAttributes<"a", typeof buttonClass>;

const {
  class: className,
  isLoading,
  color,
  shape,
  size,
  variant,
  width,
  disabled,
  ...props
} = Astro.props;
---

<a
  class={buttonClass({
    className,
    isLoading,
    color,
    disabled,
    shape,
    size,
    variant,
    width,
  })}
  {...props}
>
  <slot />
</a>
